@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

@font-face {
    font-family: "Druk Wide";
    font-weight: 700;
    src: local("Druk-Wide-Bold"),
      url("scss/fonts/Druk-Wide-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: "Druk Text Wide Cyr";
  font-weight: 900;
  src: local("Druk Text Wide Cyr"),
    url("scss/fonts/Druk Text Wide Cyr Heavy.otf") format("opentype");
}